.footer{
    margin: 50px 170px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    gap: 30px;
}
.footer-left{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
@media(max-width:760px){
    .footer{
        margin: 50px 70px; 
        flex-direction: column;
        gap: 50px;
    }
    .footer-right{
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
    }
}